img
{
    vertical-align: top;
    border: none;
}

table.centre
{
    margin-left: auto;
    margin-right: auto;
}

td.tabLeft
{   display:none;
}ff

td.tabRight
{   display:none;
}

td.tabLeftSelected
{   display:none;
}
td.tabFiller
{
    display:none;
}
td.tabRightSelected
{   display:none;
}

td.tabmiddle
{
    background-color:#cccccc;
    -moz-border-radius: 0px 3px 0 0;
    -webkit-border-radius: 0px 3px 0 0;
	border-radius:0 3px 0 0;
	color:#666;
    padding: 3px 15px 3px;
    height:auto;
    float:left;
    text-align:center;
    margin-right:2px;
	margin-left:0px;
}
td.tabmiddle:hover
{
    background-color:#ddd;
	transition:0.2s;
}

td.tabmiddleSelected
{   background-color:#ddd;
    border-radius: 0px 3px 0 0;
    -moz-border-radius: 0px 3px 0 0;
    -webkit-border-radius: 0px 3px 0 0;
    display: block;
    color:#333;
    padding: 3px 15px 3px;
    height:auto;
    float:left;
    text-align:center;
    margin-right:2px;
	margin-left:0px;
}

a.TabLink:link, a.TabLink:visited
{
    font-weight: bold;
    font-size: 11px;
    color:#666;
    font-family: Open Sans, arial, helvetica, san-serif, verdana;
	*font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    text-decoration: none;
    padding-top:2px;
	transition:0.2s;
}
a.TabLink:active
    {
    font-weight: bold;
    font-size: 11px;
    color: black;
    font-family: Open Sans, arial, helvetica, san-serif, verdana;
	*font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    text-decoration: none;
}
a.TabLink:hover
{
    font-weight: bold;
    font-size: 11px;
    color:#333;
    font-family: Open Sans, arial, helvetica, san-serif, verdana;
	*font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    text-decoration: none;
}

table.FormTable
{
    border-bottom: #cccccc 1px solid;
}
table.FormTitleTable
{
    border-bottom: #cccccc 1px solid;
}

table.centre
{
    margin-left: auto;
    margin-right: auto;
}

/* Jquery UI Over-Ridden Styles */
.ui-button .ui-button-text
{
    line-height: 0.8em;
    max-height: 20px;
}

.ui-priority-secondary
{
    font-weight:bold;
    color:red;
}

.ui-datepicker-trigger
{
    width: 16px;
    height: 16px;
    margin-top: 2px;
    margin-left: 2px;
    -moz-margin-top: 0px;
    -webkit-margin-start: 0px;
}

.hasDatepicker
{
    vertical-align: top;
	width:88%;
}

.ui-widget
{
    font-size: 1em;
}

div.ui-dialog
{
        -moz-box-shadow: 3px 2px 10px 2px gray;
    -webkit-box-shadow: 3px 2px 10px 2px gray;
    box-shadow: 3px 2px 10px 2px gray;
}

/*
.ui-widget.button
{
    font-size: 5em;
}
*/

/* css for datepicker */
.ui-widget.datepicker
{
    font-size: 0.7em;
}

div.ui-datepicker
{
    font-size: 10px;
  /*  
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);  
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);  
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);  
*/
    -moz-box-shadow: 3px 2px 10px 2px gray;
    -webkit-box-shadow: 3px 2px 10px 2px gray;
    box-shadow: 3px 2px 10px 2px gray;
}

.ui-datepicker-buttonpane {
  font-weight:bold !important;
}

/* css for datetimepicker */
.ui-timepicker-div .ui-widget-header
{
    margin-bottom: 8px;
}
.ui-timepicker-div dl
{
    text-align: left;
}
.ui-timepicker-div dl dt
{
    height: 25px;
    margin-bottom: -25px;
}
.ui-timepicker-div dl dd
{
    margin: 0 10px 10px 65px;
}
.ui-timepicker-div td
{
    font-size: 90%;
}
.ui-tpicker-grid-label
{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

/* Jquery UI Over-Ridden Styles - END */

/* Detail View */
#tddetail
{
border:none
    
}

#detailtable
{
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 8px;
    padding-top: 6px;
    width: 100%;
    margin-top:10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
	background-color:#eeeeee;
	border-bottom: 2px solid white;
    }

    /*background: #7db9e8;
    background: -moz-linear-gradient(-45deg, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3b679e), color-stop(50%,#2b88d9), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
    background: -webkit-linear-gradient(-45deg, #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: -o-linear-gradient(-45deg, #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: -ms-linear-gradient(-45deg, #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: linear-gradient(135deg, #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=1 )*/

/* Detail View - END */

/* Grid Styles */
.gridheader
{
    font-weight: bolder;
    color: white;
    text-shadow:1px 2px 3px #333333;
    background-color: #ff9900;
    margin-top:10px;
    }

.gridheader td
{
    border-left: medium none;
    border-right: medium none;
    border-top: medium none;
    margin-top: 10px;
    padding: 2px 7px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
}

.gridheader a
{
    color: white;
    font-size:1em;
    text-decoration: none;
}
/* Grid Styles - END */

.listviewPager, .listviewPager td
{
    font-family:Open Sans, Arial, helvetica, sans-serif, Verdana;
    font-weight: bold;
    text-decoration: none;
    padding-top: 10px;
    font-size:.9em;
	*font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/

}

.listviewPager a
{
    color: #cccccc;
    font-weight: normal;
    font-size:.9em;

}
/* Cross Browser Fixes */
textarea
{
    resize: none;
}
hr
{
    line-height: 0px;
    font-size: 0;
    border: 0px;
    border-bottom: 1px solid #bbbbbb;
}
/* Cross Browser Fixes - END */
.shadow
{
    -moz-box-shadow: 3px 2px 8px 2px #888;
    -webkit-box-shadow: 3px 2px 8px 2px #888;
    box-shadow: 3px 2px 8px 2px #888;
}
.radius
{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px 10px 10px 10px;
}
.reportwizardboxtop
{
      padding-left:8px;
}
.xEditingArea {
    height: 287px;
}