body {
    font-size: 0.7em;
    margin: 0px;
    font-family: Open Sans, Arial, helvetica, sans-serif;
    background-color: #ffffff;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    
}
a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
p{
    font-size:12px;
    color:#777777;
    line-height:14px;}
.floatRight{
    float:right;
    padding-right:20px;
    }
.mediaview-title {
    color: #666;
    font-size: 12px;    
    margin-bottom: 0px;
    font-family: Open Sans, Cabin, Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: bold;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    }
.mediaview-message {
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin-top: 0px;
    margin-bottom: 15px;
    line-height: 16px;
    color: #666;
    text-align: left;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    }
img {
    vertical-align: top;
    border: none;
    }
    img a {
        border: none;
    }
/* Chrome fixes */
#DayPilotCalendar1 {
    width: 100%;
}

table {
    margin: 0px;
    border-spacing: inherit;
    border: none;
}

textarea {
    resize: none;
}
/* Chrome fixes - END */

input.InputButton {
    text-align: center;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    font-size: 1em;
    border: 1px solid #999;
    border-top-color: #eee;
    border-left-color: #eee;
    background-color: #cfcfcf;
    color: #333;
    padding: 3px 6px 3px 6px;
    text-decoration: none;
    width: 100%;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
}

input.MenuButton {
    border-right: #999 1px;
    padding-right: 6px;
    border-top: #eee 1px;
    padding-left: 6px;
    font-size: 1em;
    padding-bottom: 3px;
    border-left: #eee 1px;
    width: 100%;
    color: #333;
    padding-top: 3px;
    border-bottom: #999 1px;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    background-color: transparent;
    text-align: left;
    text-decoration: none;
}

body.WithBorder {
    border-right: #eeeeee 11px solid;
    border-top: #eeeeee 11px solid;
    font-size: 1em;
    margin: 5px;
    border-left: #eeeeee 11px solid;
    border-bottom: #eeeeee 11px solid;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
}

td.FormLabel {
    font-family: Open Sans, arial,helvetica,san-serif,verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    font-size: 12px;
    font-weight:bold;
    max-width: 200px;
    min-width: 150px;
    padding-left: 10px;
    padding-right: 5px;
    text-align: right;
    text-wrap: none;
}

div.Readonly, div.ReadonlyWide, div.ReadonlyNarrow {
    width: 97%;
    border: solid 1px #696969;
    margin-left: 2px;
    padding: 2px;
    background-color: #696969;
    color: #FFF;
    margin-bottom: 1px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
    div.Readonly a, div.ReadonlyWide a, div.ReadonlyNarrow a {
        color: #FFF;
    }
div.ReadonlyWide {
    width: 99%;
}

div.ReadonlyNarrow {
    width: 95%;
}
td.readOnlyFormField {
    border: solid 1px #dddddd;
    background-color: #696969;
    color: white;
    padding: 2px;
    margin-left: 2px;
}
td.readOnlyFormField a, td.readOnlyFormField a:visited {
        color: white;
    }

td.tdRelListTitle {
    border-top: #FFF 1px solid;
    font-size: 1em;
    border-bottom: #A9A9A9;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    padding: 0px 0px 3px 0px;
}

td.dashPreview, div.dashPreview {
    font-size: 1em;
    font-family: arial, helvetica, san-serif, verdana;
    background-color: #eeeeee;
    vertical-align: top;
    border:solid 1px #ddd;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;}

td.dashPreviewCell {
    vertical-align: top;
    padding-top: 1px;
    padding-left: 2px;
}

td.FilterCellTitle {
    font-size:12px;
    color:#333;
    font-weight:bold;
    border-bottom: #ccc 1px solid;
    border-left: #ccc  1px solid;
    font-family: arial, helvetica, san-serif, verdana;
    background-color: #cccccc;
}

td.FilterCell {
    font-size:11px;
    font-weight:normal;
    border-bottom: #ccc 1px solid;
    border-left: #ccc  1px solid;
    font-family: arial, helvetica, san-serif, verdana;
}

table.pageContainerTable {
    padding: 10px;
}

div.TitleBarCell {
    font-weight: bold;
    font-size: 10pt;
    font-family: arial, helvetica, san-serif, verdana;
    margin: 5px;
    line-height: 1.8em;
    padding-bottom: 5px;
}

.tableLeaders, .bodyfontboldlg, .lblTaskParents {
    font-weight: bold;
    font-size: 10pt;
    font-family: arial, helvetica, san-serif, verdana;
    margin: 5px;
    line-height: 1.8em;
    margin-right: 15px;
}

.Processbodyfontbold{
    font-weight: bold;
    color:#015791;
    font-size: 24px;
}

td.TitleBarCell {
    font-weight: bold;
    font-size: 10pt;
    font-family: arial, helvetica, san-serif, verdana;
}

    td.TitleBarCell img {
        border: none;
    }

.DataGrid {
    white-space: normal;
    margin: 10px 0px 0px 0px;
    width: 100%;
}

tr.DataGridItem {
    font-size: 1em;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    text-align: left;
    padding-left: 2px;
    background-color: White;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    tr.DataGridItem a, tr.DataGridItem a:visited {
        text-decoration: none;
        white-space: nowrap;
        color: #437cae;
    }

        tr.DataGridItem a:hover {
            text-decoration: none;
            white-space: nowrap;
            color: #ff9900;
        }

td, th {
    font-size: 11px;
    margin-left: 160px;
    border: none;
}

tr.DataGridAltItem {
    background-color: #f5f5f5;
    font-size: 1em;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    text-align: left;
    padding-left: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    tr.DataGridAltItem a:hover {
        text-decoration: none;
        white-space: nowrap;
        color: #ff9900;
    }

    tr.DataGridAltItem a, tr.DataGridAltItem a:visited {
        text-decoration: none;
        color: #437cae;
    }

tr.DataGridMainAltItem {
    padding-left: 2px;
    font-size: 1em;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    background-color: #f7f7f7;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

tr.DataGridItemSelected {
    font-size: 1em;
    color: black;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    background-color: #99ccff;
}
tr.DataGridItemSelected a, tr.DataGridItemSelected a:visited{
    font-size: 1em;
    color: #437cae;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
}

tr.DataGridItemSelected2 {
    font-size: 1em;
    color: black;
    border-bottom: red 1px solid;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    background-color: lightgray;
    white-space: nowrap;
}

tr.DataGridHeaderEmail {
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bold;
    font-size: 1em;
    color: white;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    background-color: silver;
    text-align: left;
}

tr.DataGridHeader {
    padding: 0 5px 0 5px;
    background-color: #3B679E;
    text-align: left;
    font-weight: bold;
    font-size: 1em;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    color: white;
}

    tr.DataGridHeader td {
        border-top: 1px solid #708090;
        border-bottom: 1px solid #708090;
    }

    tr.DataGridHeader a {
        color: white;
    }

tr.DataGridHeaderSubItem {
    color: #666;
    background: #dddddd;
    font-weight: bold;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    vertical-align: bottom;
    padding: 2px 1px;
    border-bottom: solid 1px #ccc;
    text-overflow: ellipsis;
    font-size: 11px;
    overflow: hidden;
}

tr.DataGridPager {
    font-weight: bold;
    font-size: 1em;
    color: black;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    background-color: #ffffff;
}

.bodyfontbold, td.bodyfontbold {
    font-weight: bold;
    color: black;
    font-size: 11px;
}

.bodyfontnormal {
    padding: 3px 6px 3px 6px;
    color: #696969;
    font-weight: bold;
}



a.CommandButton:link {
    border-right: #696969 1px solid;
    padding-right: 4px;
    border-top: dimgray 1px solid;
    padding-left: 4px;
    font-size: 1em;
    padding-bottom: 1px;
    border-left: dimgray 1px solid;
    width: 100%;
    color: white;
    padding-top: 1px;
    border-bottom: dimgray 1px solid;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    background-color: darkgray;
    text-align: center;
    text-decoration: none;
}

a.CommandButton:active {
    border-right: dimgray 1px solid;
    padding-right: 4px;
    border-top: dimgray 1px solid;
    padding-left: 4px;
    font-size: 1em;
    padding-bottom: 1px;
    border-left: dimgray 1px solid;
    width: 100%;
    color: white;
    padding-top: 1px;
    border-bottom: dimgray 1px solid;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    background-color: darkgray;
    text-align: center;
    text-decoration: none;
}

a.CommandButton:visited {
    border-right: dimgray 1px solid;
    padding-right: 4px;
    border-top: dimgray 1px solid;
    padding-left: 4px;
    font-size: 1em;
    padding-bottom: 1px;
    border-left: dimgray 1px solid;
    width: 100%;
    color: white;
    padding-top: 1px;
    border-bottom: dimgray 1px solid;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    background-color: darkgray;
    text-align: center;
    text-decoration: none;
}

a.CommandButton:hover {
    border-right: dimgray 1px solid;
    padding-right: 4px;
    border-top: dimgray 1px solid;
    padding-left: 4px;
    font-size: 1em;
    padding-bottom: 1px;
    border-left: dimgray 1px solid;
    width: 100%;
    color: black;
    padding-top: 1px;
    border-bottom: dimgray 1px solid;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    background-color: gainsboro;
    text-align: center;
    text-decoration: none;
}

a.hyperlinkbutton {
    font-weight: normal;
    text-align: center;
    font-family: Open Sans, arial, helvetica, sans-serif;
    font-size: 11px;
    background-color: #437cae;
    color: white;
    padding: 2px 6px;
    text-decoration: none;
    min-height: 12px;
    display: block;
    min-width: 80px;
    margin-bottom: 1px;
    margin-top: 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    transition-duration: 0.2s;
    display: inline-block;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
}

    a.hyperlinkbutton:hover {
        background-color: #ff9900;
        color: white;
        text-decoration: none;
    }

    a.hyperlinkbutton:active {
        background-color: #bbb;
        color: #555;
        text-decoration: none;
}
   a.btn, a.btn:visited, a.Calbutton, a.Calbutton:visited {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    font-family:open-sans, helvetica, arial, sans-serif;
    font-size: 11px;
    background-color: #437cae;
    color: #ffffff;
    padding: 5px 8px;
    text-decoration: none;
    min-height: 12px;
    display: block;
    min-width: 80px;
    margin-bottom: 1px;
    margin-top: 1px;
    margin-right:5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    }

    a.btn:hover, a.Calbutton:hover {
        background-color: #ff9900;
        color: white;
        text-decoration: none;
        padding: 5px 8px;
        -webkit-box-shadow: 0 6px 4px -5px #666666;
        -moz-box-shadow:0 6px 4px -5px #666666;
        box-shadow:0 6px 4px -5px #666666;
    }
    a.btn:active, a.Calbutton:active {
        background-color: #bbb;
        color: #555;
        text-decoration: none;
    }
#calMain{
    background:#CCC;
    border:solid 1px #ccc;
    width:100%;}
a.prev{
    font-size:11px;
    display:inline-block;
    background:#ff9900;
    padding:2px 3px;
    color:white;
    font-weight:bold;scheduler_tPointv2_scrollable
    transition:0.2s;
    border-radius:2px;
    margin-right:1px;
    margin-left:3px;}
a.prev:hover{
    text-decoration:none;
    background:#333;
    -webkit-box-shadow: 0 6px 4px -5px #666666;
    -moz-box-shadow:0 6px 4px -5px #666666;
    box-shadow:0 6px 4px -5px #666666;
    }
a.prev:before{
    content:"< ";}
a.next{
    font-size:11px;
    display:inline-block;
    background:#ff9900;
    padding:2px 3px;
    color:white;
    font-weight:bold;
    transition:0.2s;
    border-radius:2px;
    margin-right:1px;
    margin-left:3px;}
a.next:hover{
    text-decoration:none;
    background:#333;
    -webkit-box-shadow: 0 6px 4px -5px #666666;
    -moz-box-shadow:0 6px 4px -5px #666666;
    box-shadow:0 6px 4px -5px #666666;}
a.next:after{
    content:" >";}
/*
a.hyperlinkbutton:visited
{
  border: 1px solid #bbb;
    background-color: #efefef;
    color: #555;
    text-decoration: none;
}
*/

a.hyperlinkbuttonnarrow, a.hyperlinkbuttonnarrow:visited {
    text-align: center;
    font-family: arial, helvetica, san-serif, verdana;
    font-size: 12px;
    border: none;
    color: white;
    margin-left: 5px;
    padding: 3px 10px;
    text-decoration: none;
    width: 100%;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    background-color: #437cae;
}
    a.hyperlinkbuttonnarrow:hover {
    background-color: #ff9900;
    }
    a.hyperlinkbuttonnarrow:active {

        border: none;
        background-color: #cccccc;
        color: #666666;
}

a.HyperLinkButton2:link, a.HyperLinkButton2:visited {

    padding-right: 4px;
    padding-left: 4px;
    font-size: 1em;
    padding-bottom: 1px;
    width: 100%;
    color: black;
    padding-top: 1px;
    border:#ccc 1px solid;
    font-family: arial, helvetica, san-serif, verdana;
    background-color: #ddd;
    text-align: center;
    text-decoration: none;
}

a.HyperLinkButton2:active {
    border-right: dimgray 1px solid;
    padding-right: 4px;
    border-top: dimgray 1px solid;
    padding-left: 4px;
    font-size: 1em;
    padding-bottom: 1px;
    border-left: dimgray 1px solid;
    width: 100%;
    color: black;
    padding-top: 1px;
    border-bottom: dimgray 1px solid;
    font-family: arial, helvetica, san-serif, verdana;
    background-color: lightgrey;
    text-align: center;
    text-decoration: none;
}
a.HyperLinkButton2:hover {
    background-color: #333;
    text-align: center;
    text-decoration: none;
}
a.textlink:link, a.textlink:visited {
    color: #437cae;
    font-family: Open Sans,arial,helvetica,san-serif,verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    font-size: 1em;
    text-decoration: none;
    font-weight:bold;
}
a.textlink:hover {
    color:#ff9900;
}

#HyperLink1 {
    font-size: 0.85em;
    color: #fff;
    font-family: arial, helvetica, san-serif, verdana;
    text-decoration: none;
    display:inline-block;
    padding:2px;
    background:#437cae;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
#HyperLink1:hover {
    background:#ff9900;
    text-decoration:none;
    color:white;}

a.textlink img {
    border: none;
}

.txtDataHidden {
    border: #eeeeee 1px solid;
    padding-right: 1px;
    padding-left: 1px;
    font-size: 1em;
    padding-bottom: 1px;
    width: 2px;
    color: #eeeeee;
    padding-top: 1px;
    font-family: arial, helvetica, san-serif, verdana;
    height: 2px;
    background-color: #eeeeee;
}

.txtdata, txtDataURL, select.DropDownList {
    padding: 2px;
    font-weight: bold;
    margin-left: 2px;
    font-family: arial, helvetica, san-serif, verdana;
    background-color: white;
    color: #696969;
    border-radius: 3px;
    border:solid 1px #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 11px;
    margin-bottom: 1px;
    width:99%;
}

.txtDataURL {
    background: #ddd;
    padding: 2px;
    font-size: 12px;
    color: #666;
    font-family: arial, helvetica, san-serif, verdana;
    font-weight: bold;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-left: 2px;
    background-position: right;
    background-repeat: no-repeat;
}

.txtDataReq, .txtDataReqDropDown, .txtDataRO, .txtDataReqFullWidth, .txtDataReqNarrow {
    font-family: arial, helvetica, san-serif, verdana;
    background: url("../images/required.png") no-repeat scroll right center #ff6600;
    border-radius: 3px;
    color: white;
    border:solid 1px #ccc;
    font-size: 11px;
    font-weight: bold;
    margin-left: 2px;
    padding: 0;
}
.hasDatepicker{
    width:80%}
.txtDataReq:after, .txtDataReqDropDown:after, .txtDataRO:after, .txtDataReqFullWidth:after, .txtDataReqNarrow:after 
{
}
input.txtDataReq, .txtDataReqFullWidth, .txtDataReqNarrow {
    padding: 3px;
    margin-bottom: 1px;
    width: 95.2% !important;
}

input.txtDataReqFullWidth {
    width: 98.3% !important;
}

input.txtDataReqNarrow {
    width: 94.3% !important;
}

textarea.txtdata {
    width: 99% !important;
}

select.txtDataReqDropDown {
    margin-bottom: 1px;
    padding: 2px;
}

.txtDataRO {
    background-color: #666;
    color: white;
    margin-left: 2px;
    padding: 2px;
}

div.DistListHolder {
    border: #d3d3d3 1px solid;
    overflow: auto;
    width: 100%;
    direction: ltr;
    height: 490px;
    background-color: #eeeeee;
}

div.emailHolder {
    border: #ddddd 1px solid;
    overflow: scroll;
    width: 760px;
    direction: ltr;
    height: 370px;
    background-color: #eeeeee;
}

div.rptHolder {
    border: #dddddd 1px solid;
    overflow: scroll;
    width: 760px;
    height: 470px;
    background-color: #eeeeee;
}

div.skillsAdminTvw {
    background-color: #EEEEEE;
    border:solid 1px #ccc;
    height: 200px;
    overflow: auto;
    width: 100%;
    border-radius: 3px;
}

div.FormEditorProperties {
    border-right: dimgray 1px solid;
    overflow: auto;
    border-left: dimgray 1px solid;
    width: 100%;
    border-bottom: dimgray 1px solid;
    height: 200px;
}

div.FormEditor {
    border-right: #cccccc 1px solid;
    overflow: scroll;
    width: 100%;
    height: 220px;
}

div.scriptPreview {
    overflow: auto;
    width: 100%;
    height: 240px;
}

div.scriptPreview1 {
    overflow: auto;
    width: 100%;
    height: 300px;
}

div.scriptPreview2 {
    overflow: auto;
    width: 100%;
    height: 400px;
}

div.scriptPreview3 {
    overflow: auto;
    width: 100%;
    height: 450px;
}

div.FilterList {
    overflow: auto;
    width: 100%;
    height: 250px;
}

div.SortList {
    border-right: #ccc1px solid;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    overflow: auto;
    width: 100%;
    padding-top: 3px;
    height: 450px;
}

div.scrollLineItemDates {
    height: 200px;
    width: 100%;
    overflow: auto;
    padding: 2px;
}

div.pnlAtt {
    border-right: lightgrey 1px solid;
    padding-right: 0px;
    border-top: lightgrey 1px solid;
    padding-left: 0px;
    padding-bottom: 0px;
    overflow: auto;
    border-left: lightgrey 1px solid;
    width: 100%;
    padding-top: 0px;
    border-bottom: lightgrey 1px solid;
    height: 50px;
}

td.LineItemDatesDays {
    font-weight: bold;
    font-size: 1em;
    color: white;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    background-color: #3399ff;
}

td.LineItemDatesDates {
    font-weight: bold;
    font-size: 1em;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    background-color: gainsboro;
}

td.LineItemDatesCHKbox {
    border-right: #666 1px solid;
    vertical-align: middle;
    text-align: center;
}

td.listcontainercell {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    vertical-align: top;
    padding-top: 0px;
    white-space: normal;
}

td.listcontainercell2 {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    vertical-align: top;
    border-top: #CCC 1px solid;
    border-left: #ccc 1px solid;
    padding-top: 0px;
}

td.SeparatorCell {
    font-weight: bold;
    font-size: 1em;
    border-bottom: darkgray 1px solid;
    font-family: arial, helvetica, san-serif, verdana;
}

td.viewtitlecell, td.viewtitlecellleft, td.viewtitlecellright {
    color: white;
    font-weight: bold;
    font-family: arial, helvetica, san-serif, verdana;
    vertical-align: bottom;
    background-color: #3B679E;
    padding: 2px 7px;
    font-size: 11px;
    white-space: nowrap;
    text-align: left;
}

td.viewtitlecellright {
    text-align: left;
}

td.viewcell, td.viewcellleft, td.viewcellright, td.viewcelllefthomepage, td.viewcellrighthomepage, td.viewcellhomepage {
    color: #666;
    font-weight: bold;
    font-family: arial, helvetica, san-serif, verdana;
    vertical-align: bottom;
    padding: 2px 7px;
    border-bottom: solid 1px #ccc;
    text-overflow: ellipsis;
    width:auto;
    max-width: 220px;
    font-size: 11px;
    overflow: hidden;
}

    td.viewcellright a:link,
    td.viewcellright a:visited {
    }

    td.viewcellright a:hover {
    }

a.listviewTitle:link, a.listviewTitle:visited {
    font-size: 11px;
    width: 100%;
    color: #437cae;
    font-family: arial, helvetica, san-serif, verdana;
    height: 100%;
    text-decoration: underline;
    padding-right: 5px;
}

a.listviewTitle:active {
    font-size: 11px;
    width: 100%;
    height: 100%;
    color: mediumblue;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    text-decoration: underline;
    *font-family: arial, helvetica, san-serif, verdana;
}

a.listviewTitle:hover {
    font-size: 11px;
    width: 100%;
    color: #666;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    height: 100%;
    text-decoration: underline;
    *font-family: arial, helvetica, san-serif, verdana;
}

a.listview:link, a.listview:visited {
    color: #437cae;
    font-family: arial,helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}

a.listview:active {
    color: #444444;
    font-family: arial,helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}

a.listview:hover {
    color: #ff9900;
    font-family: arial,helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-decoration: underline;
}

a.TopMenu:link, a.TopMenu:visited {
    padding-right: 4px;
    padding-left: 4px;
    font-weight: bold;
    font-size: 1em;
    padding-bottom: 2px;
    color: black;
    padding-top: 2px;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    text-decoration: none;
    *font-family: arial, helvetica, san-serif, verdana;
}

a.TopMenu:active {
    padding-right: 4px;
    padding-left: 4px;
    font-weight: bold;
    font-size: 1em;
    padding-bottom: 2px;
    color: black;
    padding-top: 2px;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    text-decoration: none;
    *font-family: arial, helvetica, san-serif, verdana;
}

a.TopMenu:hover {
    padding-right: 4px;
    padding-left: 4px;
    font-weight: bold;
    font-size: 1em;
    padding-bottom: 2px;
    color: black;
    padding-top: 2px;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    text-decoration: underline;
    *font-family: arial, helvetica, san-serif, verdana;
}

td.blankmenutitle {
    background-position: bottom;
    font-weight: bold;
    font-size: 1em;
    background-image: url(images/menubackgroundblank.jpg);
    padding-top: 15px;
    padding-left: 5px;
    background-repeat: no-repeat;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    text-align: left;
    height: 30px;
    *font-family: arial, helvetica, san-serif, verdana;
}

td.BlankMenuBody {
    border-right: #ffffff 1px solid;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1em;
    border-left: #ffffff 1px solid;
    padding-top: 2px;
    border-bottom: #ffffff 1px solid;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    background-color: #d6dff7;
    *font-family: arial, helvetica, san-serif, verdana;
}

.calTitle {
    font-size: 1em;
    color: white;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    background-color: #6699ff;
    *font-family: arial, helvetica, san-serif, verdana;
}


a.rssTitleLink:link {
    font-weight: bold;
    font-size: 1em;
    color: black;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    text-decoration: none;
    *font-family: arial, helvetica, san-serif, verdana;
}

a.rssTitleLink:active {
    font-weight: bold;
    font-size: 1em;
    color: black;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    text-decoration: none;
    *font-family: arial, helvetica, san-serif, verdana;
}

a.rssTitleLink:hover {
    font-weight: bold;
    font-size: 1em;
    color: black;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    text-decoration: underline;
    *font-family: arial, helvetica, san-serif, verdana;
}

a.rssStoryTitleLink:link {
    font-weight: bold;
    font-size: 1em;
    color: black;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    text-decoration: none;
    *font-family: arial, helvetica, san-serif, verdana;
}

a.rssStoryTitleLink:visited {
    font-weight: bold;
    font-size: 1em;
    color: black;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    text-decoration: none;
    *font-family: arial, helvetica, san-serif, verdana;
}

a.rssStoryTitleLink:active {
    font-weight: bold;
    font-size: 1em;
    color: black;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    text-decoration: none;
    *font-family: arial, helvetica, san-serif, verdana;
}

a.rssStoryTitleLink:hover {
    font-weight: bold;
    font-size: 1em;
    color: black;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    text-decoration: underline;
    *font-family: arial, helvetica, san-serif, verdana;
}

div.rssPnl {
    overflow: auto;
    width: 100%;
    height: 250px;
}

div.appletPnl {
    padding-right: 4px;
    padding-left: 4px;
    width: 99.5%;
}

td.rssStoryDesc {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 1em;
    padding-bottom: 10px;
    border-bottom: lightgrey 1px solid;
    font-family: arial, helvetica, san-serif, verdana,tahoma;
    background:#dddddd;
}

td.rssStoryTitle {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 1em;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: arial, helvetica, san-serif, verdana,tahoma;
}

td.rssTitleCell {
    border-right: darkgray 1px solid;
    padding-right: 5px;
    border-top: darkgray 1px solid;
    padding-left: 5px;
    font-size: 1em;
    padding-bottom: 2px;
    border-left: darkgray 1px solid;
    padding-top: 2px;
    border-bottom: darkgray 1px solid;
    font-family: arial, helvetica, san-serif, verdana,tahoma;
    background-color: gainsboro;
}
#MAINCELL {
    *width: 1024px;
}

td.dashMainCellPadded {
    vertical-align: top;
    padding-right: 15px;
}

td.dashMainCell {
    padding-bottom: 10px;
}

td.dashItemTitle {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    padding-left: 5px;
}

td.dashItemTitleIcon {
    padding-right: 1px;
    border-top: white 1px solid;
    padding-left: 1px;
    padding-bottom: 1px;
    border-left: white 1px solid;
    width: 16px;
    padding-top: 1px;
    border-bottom: darkgray 1px solid;
    display:none;
}

td.dashItemTitleMain {
    font-weight: bolder;
    color: white;
    margin-top: 10px;
    background: #3B679E;
    height:16px;
}

td.dashItemBody {
    border:solid 1px #ddd;
}

SELECT {
    font-size: 1em;
    border: none;
    font-family: arial, helvetica, san-serif, verdana;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
    background-color: #ffffff;
}



td.tdMenuCampaignTitleCell {
    padding-bottom: 3px;
    padding-top: 2px;
    border-bottom: darkgray 1px solid;
}

div.menuCampaignList {
    margin-left: 10px;
    border-right: darkgray 1px solid;
    overflow: scroll;
    width: 167px;
    height: 150px;
}

div.DetailView {
    padding-left: 3px;
}

#CalcContainer {
    background-image: url(Images/CalcBack);
    width: 384px;
    height: 186px;
    
}

.threedcell, td.threedcell,td.threedcellTop, td.threedcellMiddle, td.threedcellBottom {
    padding: 5px 3px 3px 7px;
    font-family: arial, helvetica, san-serif, verdana;
    background: #eeeeee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-bottom: solid 2px #ffffff;
    vertical-align:top;
}
td.threedcellMiddle{
    height:100%;
    }
table.threedtable {
    margin-top: 8px;
}

div.pnlQuickSearch {
    overflow: auto;
    border-bottom: darkgray 1px solid;
}

div.pnlDtlView {
}

div.clear {
    clear: both;
    margin: 0;
    padding: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
}

/* Homepage */
#homepagecontainer {
    padding: 5px 8px 0px 8px;
    margin: 0px 0px 0px 0px;
}

#homepagetitle {
    padding: 0px 0px 25px 0px;
    line-height: 20px;
    margin: 0px 0px 5px 0px;
    border-bottom: 1px solid #ccc;
}

    #homepagetitle img {
        margin-top: 2px;
    }

.homepagetitleleft {
    float: left;
    padding: 0px 5px 0px 0px;
    vertical-align: bottom;
    border: none;
}

.homepagetitleright {
    float: left;
    padding: 0px 0px 0px 5px;
    vertical-align: bottom;
    border: none;
}

#deletemain {
    border: 1px solid #333333;
    margin: 5px;
    height: 170px;
    width: 292px;
}

#deleteconfirmation {
    margin: 10px 10px 0px 10px;
    border-bottom: 1px solid #333333;
    height: 35px;
    line-height: 25px;
}

#deleteinner {
    margin-top: 25px;
    padding: 10px;
    width: 220px;
}

    #deleteinner hyperlinkbutton {
        width: 200px;
        margin: 20px 0px 20px 0px;
    }

#divajaxloader_container {
    width: 92px;
    border: solid 1px #0000CC;
}

#commandbar {
    /*min-width:400px;*/
    display: inline-block;
}

    #commandbar div {
        float: right;
        margin-left: 3px;
        margin-bottom: 2px;
        /* background-color:orange;*/
        padding-top: 1px;
    }

div #dvcmd {
    padding: 0 0 0 0;
    margin: 0px;
    border-collapse: collapse;
}

table #tblcmd {
    padding: 0px;
    margin: 0 0 5px 0;
    border-collapse: collapse;
}

table.showhideformsection {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

    table.showhideformsection td {
        white-space: nowrap;
        padding-right: 6px;
        font-size: 9pt;
    }

        table.showhideformsection td.hrcontainer {
            padding-right: 0px;
        }

        table.showhideformsection td.expander {
            padding-top: 6px;
        }

    table.showhideformsection img {
        cursor: pointer;
    }

body.bluepageborder {
}

div.bluepageborder {
    top: 50%;
    left: 50%;
    width: 35em;
    height: 18em;
    margin-top: -0.9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    position: fixed;
}

.radiusall {
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
}

.radiustop {
    border-radius: 8px 8px 0px 0px;
    -moz-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
}

.radiusbottom {
    border-radius: 0px 0px 8px 8px;
    -moz-border-radius: 0px 0px 8px 8px;
    -webkit-border-radius: 0px 0px 8px 8px;
}

.tabs-smaller .ui-tabs-nav li {
    margin-top: 0.6em;
    font-size: 80%;
}

    .tabs-smaller .ui-tabs-nav li.ui-tabs-selected {
        margin-top: 0em;
        font-size: 80%;
    }

.float_left {
    float: left;
    padding-right: 5px;
    display: compact;
}

#small_container {
    padding-left: 5px;
    padding-right: 5px;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-weight: bold;
    *font-family: Arial, Helvetica, sans-serif; /*Support for IE7*/
}

#DocumentTemplateContainer {
    margin-top: 5px;
    background-color: #eeeeee;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#logoStyle {
    border-radius: 0 14px 0 14px;
    box-shadow: 2px 5px 7px grey;
    margin: 0 3px 2px 0;
}


/*fixes for view.aspx*/

#view_container {
    min-width: 800px;
    max-width: 1280px;
    margin-right: 20px;
    margin-left: 10px;
}

#ViewTopTable {
    min-width: 800px;
    max-width: 1280px;
}

#ViewTopTableLeft {
    width: 40%;
}

#ViewTopTableRight {
    width: 55%;
    float: right;
    text-align: right;
}

#divajaxloader_splash {
    position: fixed;
    z-index: 101;
    right: 5px;
    top: 5px;
    display: none;
}

/* Login page media */
.mediaview-scroll, .mediaview-scrollwide {
    float: left;
    width: 280px;
    height: 150px;
    border: solid 1px #CCCCCC;
    overflow-y: scroll;
    border-radius: 5px 0px 5px 0px;
    -moz-border-radius: 5px 0px 5px 0px;
    -webkit-border-radius: 5px 0px 5px 0px;
    padding: 10px;
}

.mediaview-scrollwide {
    width: 612px;
}

.mediaview-spacer {
    float: left;
    width: 10px;
    height: 150px;
}

.mediaview-clear {
    clear: both;
}

.mediaview-offset {
    clear: both;
    height: 10px;
}

.mediaview-position {
    margin-top: 60px;
    margin-left: -150px;
}

#surveyButtonContainer {
    position: relative;
    z-index: 100;
    height: 20px;
    float: left;
    top: 0px;
    left: 0px;
    border-bottom: solid 1px #CCCCCC;
    width: 612px;
    margin-bottom: 12px;
}

    #surveyButtonContainer input {
        float: left;
        position: relative;
        top: 10px;
        left: 240px;
        border: solid 1px #CCCCCC;
        color: #666666;
        font-size: 12px;
        cursor: pointer;
    }

#surveyFrame {
    width: 592px;
    height: 41px;
    overflow-y: hidden;
    overflow-x: hidden;
}

    #surveyFrame iframe {
        width: 592px;
        height: 1000px;
        border-style: none;
    }

.messageList {
    width: 100%;
}

    .messageList td {
        padding-top: 10px;
        padding-left: 10px;
    }
.messageTitle {
    width: 250px;
}

.ui-slider-horizontal { height:3px;top:5px; }
.ui-slider .ui-slider-handle { height:11px;width:11px;top:-5px;cursor:pointer; }
.slider-container .ui-widget-content {background-color:#AAFAAF;background-image:none;}
.slider-container { float:left;width:220px;margin-left:5px;margin-right:3px;height:16px;padding-left:10px;clear:left;}
.slider-range-max { width:180px; }
.slider-value { background-color:#FFFFFF;float:right;position:relative;top:-5px;width:30px;height:15px;border:solid 1px #d3d3d3;border-radius: 4px;font-size:11px;text-align:center;font-family:Open Sans, Arial, helvetica, sans-serif; }
.slider-target { padding-top:1px;text-align:center;width:28px;border-style:none;width:28px;height:10px;margin-top:0px;font-size:10px;text-align:center; }
.sub-slider { padding-left:10px;padding-top:3px; }
.sub-slider .ui-widget-content {background-color:#99AAFA;}
.sub-slider .slider-range-max { width:171px;}
.sub-slider .slider-container { width:211px;}
.sub-slider-detail { padding-left:5px;color:#333388;padding-top:3px;border-style:none !important;text-align:left; }
.sub-slider-detail span { font-size:10px; }
.slider-divider-top { border-top:solid 1px #DDDDDD; }
.slider-divider-bottom { border-bottom:solid 1px #DDDDDD; }
.slider-divider-top td, .slider-divider-bottom td, .slider-footer { height:4px; }
.slider-records { float:left;padding-top:2px;padding-left:20px;text-align:left;}
.time{
 width:auto;
}
#tblLogout {

}
 /* WR 16295 Logout Reason PJ 17/09/2014 */
.txtdataTBL {
    padding: 2px;
    font-weight: bold;
    margin-left: 2px;
    font-family: arial, helvetica, san-serif, verdana;
    background-color: white;
    color: #696969;
    border-radius: 3px;
    border:solid 1px #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 11px;
    margin-bottom: 1px;
    width:120px;
}

/* --------- CUSTOM NGN STYLES --------- */

#Label1.bodyfontboldlg,
#Label1.bodyfontbold{
    display: none;
}

/* --- Page / Section title ---*/

#lblTitle{
    font-size: 1.3em;
}

#ViewTopTable #imgIcon{
    padding-top: 4px;
}

/* --- Page toggle label ---*/

#divmain .divleft + .divleft{
    /*visibility: hidden;*/
}

#divmain .divleft + .divleft:after{
    content: "Full Screen";
    visibility: visible;
    margin-left: -58px;
    background: #000;
}

/* --- Table styling ---*/

#ViewTopTable{
    width: 800px;
}

/*#Table4{
    width: 900px;
}

#Table6{
    width: 900px;
}

#Table10{
    width: 900px;
}

#detailtable{
    idth: 900px;
}
*/
.DataGrid{
    width: auto !important;
}

.gridheader,
.DataGrid .gridheader,
tr .DataGridHeaderSubItem td,
.dashItemTitle,
td.viewtitlecell,
td.viewtitlecellleft,
td.viewtitlecellright{
    text-shadow: 1px 1px 0 #333333;
    font-size: 13px;
    background: #3e3080;
    color: white;
}

#CallbackPanel1 #grdlistview tbody > tr:first-child{
    background: #3e3080 !important;
    text-shadow: none;
    font-size: 13px;
    background: #3e3080;
    color: white !important;
}

#CallbackPanel1 #grdlistview tbody > tr:first-child td{
    color: white !important;
    padding: 1em;
    font-size: 12px;
}

#CallbackPanel1 #grdlistview tbody > tr:first-child td a[style]{
    color: white !important;
}

tr .gridheader td{
    padding: 1em;
    font-size: 12px;
}

td.viewcell,
.DataGridHeaderSubItem td.viewcell,
.DataGridHeaderSubItem td.viewcellleft,
.DataGridHeaderSubItem td.viewcellright{
    padding: 1em;
    font-size: 12px;
}

td.viewtitlecell,
.DataGridHeaderSubItem td.viewtitlecell,
.DataGridHeaderSubItem td.viewtitlecellleft,
.DataGridHeaderSubItem td.viewtitlecellright{
    padding: 1em;
    font-size: 12px;
}

.DataGrid td.viewtitlecell,
.DataGrid td.viewtitlecellleft,
.DataGrid td.viewtitlecellright{
    padding: 1em;
    font-size: 12px;
}

.DataGrid td.viewcell,
.DataGrid td.viewcellleft,
.DataGrid td.viewcellright{
    padding: 1em;
    font-size: 12px;
}

.DataGridItem td,
.DataGridItem td.viewcell,
.DataGridItem td.viewcellleft,
.DataGridItem td.viewcellright{
    padding: 1em;
    font-size: 12px;
}

.DataGridAltItem td,
.DataGridAltItem td.viewcell,
.DataGridAltItem td.viewcellleft,
.DataGridAltItem td.viewcellright{
    padding: 1em;
    font-size: 12px;
}

.DataGridMainAltItem td,
.DataGridMainAltItem td.viewcell,
.DataGridMainAltItem td.viewcellleft,
.DataGridMainAltItem td.viewcellright{
    padding: 1em;
    font-size: 12px;
}

.DataGridMainAltItem td a{
    color: #437cae;
}

tr.DataGridItem:hover td,
tr.DataGridAltItem:hover td,
tr.DataGridMainAltItem:hover td
{
    background: #e4e4e4;
}


/* --- Create new contacts styling ---*/

/* - Hiding unrequired components -*/
#tblLogout{
    display: none;
}

#lnkNoAnswer{
    display: none;
}

#lnkAnswerMachine{
    display: none;
}

#lblCampaignName{
    display: none;
}

#lblCampaign{
    display: none;
}

/* --- Table based form elements ---*/

#QS{
    height: auto;
    margin: 0 0 0.5em 0.5em;
}

#button4{
    margin: 0.5em 0;
}

td.FormLabel{
    padding: 0 0.6em 0 0;
    vertical-align: middle;
}

.txtdata,
.txtDataReq,
.txtDataReqNarrow,
.txtDataReqFullWidth,
.txtDataURL,
select.txtDataReqDropDown{
    padding: 0 0.6em;
    margin: 0.5em 0;
    height: 2.4em;
    box-sizing: border-box;
}

#lstAvailable,
#lstSelected,
#lstBC,
#lstBCField,
#lstRptFields{
    height: auto;
}

select.txtdata,
select.txtDataReq,
select.txtDataReqDropDown{
    padding-right: 0;
}

select.txtData[size='4']{
    min-height: 150px;
}

#txtFind{
    padding: 0;
    margin: 0.5em 0;
    height: 2.4em !important;
}

textarea.txtdata{
    padding-top: 0.6em;
}

div.ReadonlyNarrow{
    padding: 0.4em;
    margin: 0.5em 0;
}

/* --- Table based form elements ---*/

td.listcontainercell2 table{
    margin-bottom: 2em;
}

/* --- JQuery styling ---*/

.ui-datepicker-trigger{
    margin-top: 1em !important;
}

/* --- Overriding inline styling ---*/

td[style="border-right: dimgray 1px solid; border-top: dimgray 1px solid; border-left: dimgray 1px solid; border-bottom: dimgray 1px solid; background-color: white"]{
    display: block;
    position: relative;
    padding: 1em;
    font-size: 14px;
    text-align: center;
}

td[style="border-right: dimgray 1px solid; border-top: dimgray 1px solid; border-left: dimgray 1px solid; border-bottom: dimgray 1px solid; background-color: white"]:after{
    content: "Before you create a new contact, please enter the Customer's surname and hit search to check if they already exist in the system";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 98%;
    background: white;
    padding: 0.8em 1em 0.7em 1em;
}