body
{
    background-color: #444;
}
#logodiv div
{
    text-align:center;    
}

#logodiv #navigationMenuquicksearch {
    text-align:left; 
    margin-top:15px;
}

#maindiv
{
    width: 208px;
}

#maindiv .title1div
{
    padding-top: 5px;
    font-family: Verdana;
    font-size: 9pt;
    font-weight: bold;
}

#maindiv .title2div
{
    font-family: Tahoma;
    font-size: 7pt;
}

#logodiv
{
    background-color: #444;
    width: 208px;
    float: left;
    position:fixed;
    top:0px;
    left:0px;
    z-index:10;
}
#logodivinner
{
    background-color: #fff; 
    background-image: url(../../images/smallCloud.png);
    background-repeat:no-repeat;
    background-position:bottom;
    border-radius:0px 5px;
    height: 85px;
    width: 183px;
    margin: 10px 8px 10px 12px;
    padding: 5px 0px 20px 0px; 
}

.shadow
{
    -moz-box-shadow: 3px 2px 10px 2px #333;
    -webkit-box-shadow: 3px 2px 10px 2px #333;
    box-shadow: 3px 2px 10px 2px #333;
}

a img
{
    border: none;  
}

#imglogo
{
    max-height: 4.5em;
    max-width: 9.0em;
}

.radius
{
    border-radius: 2px 2px 2px 2px;    
    -webkit-border-radius:2px 2px 2px 2px; 
    -moz-border-radius:2px 2px 2px 2px;	
}


/* Menu */
#navigationMenu
{
    width: 185px;
    padding: 0px 0px 0px 10px;
	margin-top:185px;
}

.single-menu-item .ui-icon
{
    display: none !important;
}

.single-menu-container
{
    display: none !important;
}

.iconimage
{
    padding: 0px 5px 0px 0px;
    height: 14px;
    width: 14px;
	display:none;
}

.ui-state-default a, .ui-state-default a:link, ui-state-default a:visited
{
}

.ui-accordion .ui-accordion-header a
{
    font-size: 0.9em;
    font-weight: bold;
    font-family: tahoma;
    color: #315b83;
    background: #eeeeee;
    border-radius:3px;
}

.ui-accordion-icons .ui-accordion-header a
{
    padding-left: 2.2em;
}

.ui-accordion .ui-accordion-content
{
    padding: .1em .1em;
}

ul, li
{
    list-style-type: none;
    margin: 6px 0px 6px 23px;
}

a
{
    font-size: 0.9em;
}

#tdMenu
{
    border:none;
}

.ui-accordion-header
{
    margin-bottom: 13px;
}

.ui-accordion-header.ui-state-active
{
    margin-bottom: 0px;
}

.ui-accordion-content-active
{
    margin-bottom: 5px;
}

.ui-accordion .ui-accordion-content
{
    margin-bottom: 14px;
	width:181px;
}

.error
{
    display: none;
    font-family: Tahoma;
    font-size: 8pt;
    font-weight: bold;
    color: White;
    background-color: Red;
    margin: 0px 0px 10px 10px;
}

.mail
{
    display: none;
    border: darkgray 1px solid;
    padding: 5px 20px 3px 0px;
    margin: 0px 0px 10px 10px;
    width: 162px;
    background-color: #fffff0;
}

.ui-widget .ui-widget
{
    padding-top: 0px;
    font-size: 0.74em;
}

a#totop:hover, a#totop:focus, a#totop:active
{
    color: #FFFFFF;
    text-decoration: none;
}

a#totop
{
    background: none repeat scroll 0 0 #111111;
    bottom: 1em;
    cursor: pointer;
    font-size: 11px;
    opacity: 0.5;
    padding: 12px;
    position: fixed;
    right: 1em;
}
.radius
{
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
#navigationMenuquicksearch {
    margin-top: 0;
    padding: 0 0 0 10px;
    width: 185px;
}
a.QSB:hover{
	background:#437cae;
	transition:0.3s;
	color:#fefefe;
	}
a.QSB{
    background-color: #437CAE;
    border: medium none;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Open Sans,arial,helvetica,san-serif,verdana;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
    padding: 1px 6px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 2px 2px #333333;
    width: 100%;
	line-height:22px;
}
a.QSB:link{
    text-align: center;
    font-family:Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    border: none;
    background-color: #437cae;
    color: white;
    margin-left: 5px;
    padding: 4px 15px;
    text-decoration: none;
    width: 100%;
	text-shadow:0px 2px 2px #333;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	transition:0.3s;
	line-height:22px;
}a.QSB:hover{
	
        background-color: #ff9900;
}

.txtdata, txtDataURL{
	width:120px;}
.ui-accordion .ui-accordion-header {
    cursor: pointer;
    font-size: 1em;
    margin-top: 1px;
    position: relative;
}
.ui-accordion .ui-accordion-header a:hover {
    background: none repeat scroll 0 0 #efefef;
	color:#437cae;
    
}

/* --------- CUSTOM NGN STYLES --------- */

body{
    background: #3e3080;
}

#maindiv{
    width: 196px;
    margin: 0 auto;
}

#logodiv{
    background: #3e3080;
    left: auto;
}

#logodivinner{
    background: url(../../images/ngnlogo/logo.png) 50% 50% no-repeat;
    color: white;
}

#logodivinner .title1div{
    display: none;
}

#logodivinner #imglogo{
    display: none;
}

#logodivinner.shadow{
    box-shadow: none;
}

#mainTable{
    margin: 0 auto;
}

#mainTable .ui-state-default{
    background: none;
}
