
#header{
	display:block;
	height:30px;
	background:#333;
	position:fixed;
	top:0px;
	width:100%;
	z-index:1000;
	text-align:right;
	color:white}
/*TopMenu*/
a.textlink:link, a.textlink:visited{
    color: #fefefe;
	font-size:13px;
    font-family: arial, helvetica, san-serif, verdana;
    text-decoration: none;
	display:block;
	margin-left:0px;
	padding:6px 9px;
	border-radius:3px;
	font-weight:bold;
    background: #555555;
	transition:ease-out 0.6s;
}
a.textlink:hover,.divright select  {
    color:#555;
	font-family: Arial, Helvetica, sans-serif;
	background:#CCC;
	transition: ease-in 0.2s;
}
a.textlink img {
    border: none;
	display:none;
}
#divmain
{
    background: none repeat scroll 0 0 #333333;
    height: 30px;
}
.divleft
{
    float: left;
    padding-right: 2px;
	color:white;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	margin-top:4px;
	font-weight:bold;
	line-height:20px;
}
.divleft img
{
}
.divleft checkbox input[type="checkbox"]{
	background:#CCC;
	width:15px;
	height:15px;
}
.divright
{
    float: right;
	padding:2px 1px;
}
.divright img
{
}
.divright select
{	margin-top:3px;
	border:none;
	display:block;
	margin-left:7px;
	padding:2px 5px;
	border-radius:3px;
	margin-right:7px;
}

#logodiv div
{
    text-align:center;
}


a.textlink:link, a.textlink:visited {
    font-size: 1em;
    color: white;
    font-family: arial, helvetica, san-serif, verdana;
    text-decoration: none;
}

a.textlink:active {
    font-size: 1em;
    color: black;
    font-family:arial, helvetica, san-serif, verdana;
    text-decoration: none;
}

a.textlink:hover {
    font-size: 1em;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a.textlink img {
    border: none;
	display:none;
}